.tituloPrincipal481px{
    font-size: 6vw;
    line-height: 11vh;
    height: 50vh;
}
.parrafo1481px{
    font-size: 2.5vw;
    height: 16vh;
}
.boton1481px{
    width: 18vw;
}
.titulo2481px{
    font-size: 6vw;
    height: 21vh;
}
.parrafo1481px{
    font-size: 2.7vw;
    height: 16vh;
}
.caja3Parrafos{
    font-size: 2vw;
    height: 25vw;
}
.numerosCaja3481px{
    width: 15vw;
}
.parrafo6481px{
    font-size: 2.6vw;
}
.titulo3481px{
    font-size: 6vw;
    text-align: center;
    height: 10vh;
}
.boton2481px{
    width: 18vw;
    margin:6vh 0vw 1vh 40vw;
}
.titulo4481px{
    font-size: 4vw;
}
.boton3481px{
    width: 18vw;
    margin:12vh 0vw 1vh 40vw;
}
.enlacesFooter481px{
    font-size: 2vw;
}

