.tituloPrincipal481px{
    font-size: 8vw;
    line-height: 11vh;
}
.parrafo1481px{
    font-size: 3vw;
}
.titulo2481px{
    font-size: 7.5vw;
}
.parrafo1481px{
    font-size: 3vw;
}
.caja3Parrafos{
    font-size: 2.8vw;
    height: 24vw;
}
.parrafo6481px{
    font-size: 2.8vw;
}
.titulo4481px{
    font-size: 7vw;
}
