.tituloPrincipal481px{
    font-size: 6vw;
    line-height: 11vh;
    height: 50vh;
}
.parrafo1481px{
    font-size: 2.5vw;
    height: 16vh;
}
.titulo2481px{
    font-size: 6vw;
    height: 21vh;
}
.parrafo1481px{
    font-size: 2.7vw;
    height: 16vh;
}
.caja3Parrafos{
    font-size: 2vw;
    height: 25vw;
}
.parrafo6481px{
    font-size: 2.6vw;
}
.titulo4481px{
    font-size: 4vw;
   
}
