.caja2769px{
    display: flex;
    background-color: #8B48BF;
    width: 100vw;
    height: 28vh;
    margin: 8vh 0vw 0vh 0vw;
    .titulo2769px{
        width:35vw;
        height: 15vh;
        margin: 8vh 0vw 0vh 10vw;
        padding: 0vh 0vw 0vh 0vw;
        font-size: 2.75vw;
        line-height: 6vh;
    };
    .parrafo2769px{
        width: 33vw;
        height: 15vh;
        font-size: 1.24vw;
        margin:8vh 0vw 0vh 9vw;
        line-height: 3.5vh;
    }
}