.terceraCaja {
    width: 100vw;
    margin: 3vh 0vw 0vh 0vw;
    .comentario1Caja3 {
        width: 100vw;
        height: 33vh;
        .subtituloCaja3 {
            display: flex;
            width: 90vw;
            height: 7vh;
            background-color: rgba(139, 72, 191, 0.3);
            margin: 4vh 0vw 0vh 9.5vw;
            border-radius: 5vh 0vw 0vh 5vw;
            .numeroCaja3 {
                width: 17vw;
                height: 7vh;
                background-color: #8B48BF;
                text-align: center;
                border-radius: 5vh;
                color: #FFFFFF;
                line-height: 7vh;
                font-weight: 700;
                font-size: 3.1vw;
            }
            .subti1Caja3{
                width:52vw;
                height:4vh;
                font-size: 3.3vw;
                margin: 1.5vh 0vw 0vh 3vw;
                color: #323851;
                font-weight: 700;
                line-height: 4vh;
                text-align: center;
            }
        };
        .parrafoCaja3{
            width: 75vw;
            height: 22vh;
            margin: 4vh 0vw 0vh 11vw;
            color: #B3B2B7;
            font-weight: 500;
            font-size: 3.4vw;
        }
    }
}





