.caja3769px{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 66vh;
    margin: 0vh 0vw 0vh 0vw;
    background-color: #fcf9f9;
    .comentarios769px{
        width: 40vw;
        height: 26vh;
        margin: 5vh 0vw 0vh 7vw;
        .subtituloCaja3769px{
            width:25vw;
            height: 6vh;
            margin: 1vh 0vw 0vh 0.5vw;
            border-radius: 5vh 0vw 0vh 3vw;
            background-color: #fcf9f9;
            .numeros769px{
                width: 8vw;
                height: 6vh;
                font-size: 1.24vw;
                line-height: 6vh;
            };
            .subtitulos769px{
                margin: 0.9vh 1vw 0vh 1vw;
                font-size: 1.24vw;
                line-height: 5vh;
            };
            .subtitulo2769px{
                margin: 0.9vh 3.3vw 0vh 0vw;
            };
            .subtitulo3769px{
                margin: 0.9vh 0vw 0vh 1vw;
            }
        };
        .parrafos769px{
            width: 30vw;
            height: 17vh;
            font-size:1.25vw;
            margin: 1vh 0vw 0vh 5.5vw;
            line-height: 3.5vh;
        }
    }
    .comentario3769px{
        margin: 4vh 0vw 0vh 28vw;
    }
}