.segundaCaja{
    width: 100vw;
    height: 50vh;
    background-color: #3CDDF3;
    .tituloCaja2{
        width: 90vw;
        height: 17vh;
        margin: 5vh 3vw 0vh 5vw;
        padding: 6vh 0vw 0vh 0vw;
        font-size: 8.4vw;
        color: #FFFFFF;
        font-weight: 700;
        line-height: 7.8vh;
    };
    .parrafoCaja2{
        width: 90vw;
        height: 15vh;
        margin: 12vh 3vw 0vh 5vw;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 3.5vw;
        line-height: 4.5vh;
    }
}